/*기본 설정23*/
body {
  margin: 0;
  font-family: "Noto Sans KR", Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

/* 헤더  */
header {
  background-color: #2c2c2c;
  padding: 25px 0; /*위아래 여백 설정 */
  text-align: center;
}

header h1 {
  margin: 0; /*h1 태그 기본 여백 제거 */
  color: white;
  font-size: 34px;
}

/*  메인 컨테이너 */
main {
  max-width: 1000px; /*최대 너비 설정 */
  margin: 50px auto; /* 화면 가운데 정렬*/
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

main h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 24px;
}


/* 게시판 테이블 */
.board {
  width: 100%;
  border-collapse: collapse; /*테이블 겹침 제거 해주고 */
  margin-top: 10px;
}

.board th,
.board td {/*데이블 헤더랑 셀 공통으로 지정 부분*/
  padding: 14px;
  border-bottom: 1px solid #e5e7eb;
  text-align: center;
}

.board th { /*테이블 헤더 파트 */
  background-color: #f9fafb;
  font-weight: bold;
}

/* 제목은 왼쪽 정렬 */
.board td:nth-child(2) {
  text-align: left;
}

/* 게시글 제목 링크 */
.board td a {
  color: #111827;
  text-decoration: none; /*밑줄 제거*/
}

.board td a:hover {
  text-decoration: underline; /*마우스 올리면 밑줄*/
  color: #333;
}

/* 행 hover 효과 */
.board tbody tr:hover {
  background-color: #f1f5f9;
}

/* 하단 메인 margin 여백을 top으로 25px 지정 */
.back {
  margin-top: 25px;
}

.back a { /* 메인으로 가는거 색지정*/
  text-decoration: none;
  color: #333;
}